extends layout

block content
  h1= title
  if user 
    h2 Welcome back, #{user.username}!
    div(style='margin-bottom: 20px')
      a(href='/users/log-out') Sign out

  else
    p Welcome to the #[em Food Bank Inventory], where you can see what food items are available at your local food bank.
      | 
      a(href='/users/sign-up') Sign up here if you are an employee.
      | 
      a(href='/users/log-in') Log in here if you are already registered.

  h3 Categories

  if error 
    p Error getting dynamic content 
  else 
    div(class='container-fluid')
      each name in data.category_names
        a(href=`/catalog/category/${name._id}`) #{name.name}
        hr
