extends layout

block content
  if user
    h1 #{title}: #{item.name}

    p Do you really want to delete this Food Item?

    form(method='POST' action='')
      div.form-group
        input#itemid.form-control(type='hidden',name='itemid', required='true', value=item._id )

      button.btn.btn-primary(type='submit') Delete
  else 
    h1 Sorry, you do not have access to this page.